@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* blockquote */
blockquote[xml|lang]{
	font-style: italic;
}
/* end blockquote */

/* verse and song */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}
/* end verse and song */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end letters */

/* tables */
table{
	margin: 1em auto;
}
/* end tables */

/* part 6 date footer */
#part-6 footer{
	text-align: initial;
}
/* end part 6 date footer */

/* ch 4-15 subchapter headers */
#chapter-4-15 [epub|type~="z3998:subchapter"] > p:last-of-type{
	margin-bottom: 2em;
}

#chapter-4-15 header + p{
	margin-top: 1em;
}
/* end ch 4-15 subchapter headers */
